<!DOCTYPE html>
<html lang="en">
<head>
    <title>Busqueda</title>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/results.css">
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/menuMobile") %>


    <main>

        <div id="jumpstore-page" >
            <div class="container">
                <div class="jumpstore-content">
                    <div class="results">
                        <div class="results-container">
                            <p class="products-title"> Búsqueda:  <strong><%= searchUser %></strong> </p>
                            <p> <strong><%= usersResults.length %></strong> Resultados</p>
                        </div>
                    </div>
                    <div class="products">
                        
                        <div class="products-container">
                            <%#= articulos.indexOf(articulo) + 1 %>
                            <% usersResults.forEach(articulo => { %>
                                <div class="product-container">
                                    <a href="/sneakers/detail/<%= articulo.id %>" class="link-detail">
                                        <div class="product">
                                            <% if (articulo.discount !== 0) { %>
                                                <div class="sale">
                                                    <div class="discount">
                                                        <%= articulo.discount %>% OFF
                                                    </div>
                                                </div>
                                            <% } %>
                                            
                                            <div class="info-product">
                                                <div class="img-container">
                                                    <img src="/images/zapatillas/<%= articulo.images[0].url %>" alt="producto" class="img-product">
                                                </div>
                                                <div class="text">
                                                    <div class="sneaker-name">
                                                        <p><%= articulo.name %></p>
                                                    </div>
                                                    <div class="price">
                                                        <% if (articulo.discount !== 0) { %>
                                                                <p>$<%= toThousand(articulo.price - (articulo.price * articulo.discount / 100))%></p>
                                                                <p class="oldPrice">$<%= toThousand(articulo.price)%></p>
                                                        <% } else {%>
                                                            <p>$<%= toThousand(articulo.price) %></p>

                                                        <% } %>
                                                    </div>                                     
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>  
                            <% }); %>

                        </div>
                    </div>
                </div>
                <div>
                    <% if (usersResults == 0) { %>
                        <h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
                    <% } %>
                    </div> 
            </div>
        </div>


    </main>
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
    <script src="/js/results.js"></script>

</body>
</html>