<!DOCTYPE html>
<html lang="en">
<head>
    <title>Administracion de productos</title>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/administratorToolsProducts.css">
</head>

<body>
    <%- include("./partials/header") %>
    
    <%- include("./partials/menuMobile") %>

    <div class="encabezado_content">
       <div class="titulo">Usuarios de Jumpstore</div>
       <div class="ubicacion_content">
           <ul>
               <li><a href="/administrator">Panel de administracion</a></li>
               <li>></li>
               <li>Usuarios</li>
           </ul>
       </div>
    </div>




    <div class="conteiner_general">
        <div class="form_content">
            <ul class="form_ul">
                <li class="titulo_form">Cantidad de usuarios: <%= usuarios.length %> </li>
            </ul>
        </div>
    <div class="conteiner_general_list">
        <table class="table-sortable" cellspacing="0" cellpadding="20">
            <thead>
              <tr>
                <th>Editar/Borrar</th>
                <th style="    display: flex;
                align-items: center;
                width: 100%; justify-content: center;">ID<i class="fas fa-arrows-alt-v"></i></th>
                <th>Nombre de Usuario<i class="fas fa-arrows-alt-v"></i></th>
                <th>Email<i class="fas fa-arrows-alt-v"></i></th>
                <th>Categoria<i class="fas fa-arrows-alt-v"></i></th>
              </tr>
            </thead>
            <tbody>
                <% usuarios.forEach(usuario => { %> 
                    <tr>
                        <td><li class="liEditar"><a href="users/edit/<%= usuario.id %>" class="add_edit_product">Editar</a>
                        
                        </li>
                    </td>
                    <td style="width: 10%;"><%= usuario.id %></td>
                    <td><%= usuario.username %></td>
                    <td>
                        <%= usuario.email %>
                    </td>
                    <td>
                        <% if (usuario.rol == 1) { %>
                            admin
                        <% } else { %>
                            usuario
                        <% } %>
                    </td>
                    </tr>

              <% }); %>
            </tbody>
          </table>

    </div>
    </div>


<%- include("./partials/footer") %>
<%- include("./partials/scripts") %>
<script src="/js/adminProducts.js"></script>
</body>
</html>