<!DOCTYPE html>
<html lang="en">
<head>

    <title>Quienes Somos</title>
    <%- include("./partials/head") %>
</head>
<body>
    <%- include("./partials/header") %>
    
    <%- include("./partials/menuMobile") %>

    <main>
        <div style="text-align: center;">
            <img src="/images/contenido-pagina/jumpstorequienes.jpg" alt="img-quienes-somos">
        </div>
        
        <div class="container">
            <h1 style="text-align: center;
            padding: 40px 0 0 0;
            margin: auto;">QUIENES SOMOS</h1>
            <div class="text-box" style="width: 70%;    text-align: justify; margin: 60px auto; line-height: 2;">
                <p>
                    Somos una compañía de retail deportivo con más de 40 años de historia en el mercado Argentino, comercializando una amplia variedad de productos de marcas de primera línea. JUMPSTORE nace como con la idea de generar un espacio de moda inspirada en el deporte para nuestros exigentes clientes, brindándoles una variada oferta de calzados e indumentaria de las mejores marcas de deportes y de moda, todo en un mismo lugar, de manera de poder combinarlas y armar un look urbano, canchero y confortable para transitar todo el día. JUMPSTORE es una marca viva, que se adapta al ritmo de la ciudad, por eso cambiamos constantenmente de colores y texturas en nuestro logo, porque somos dinámicos, diversos, transgresores y nos gusta estar en sintonía con la tendencia del momento, igual que nuestros clientes! Comprendemos que cada persona tiene un círculo propio y único, donde interactúa, se relaciona, se complementa con los demás, con su entorno.
                </p>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>

</body>
</html>
