<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel='stylesheet' href='/css/profile.css'>
    <%- include("./partials/head") %>


</head>
<body>

    <%- include("./partials/header") %>
    
    <%- include("./partials/menuMobile") %>
    <main>
        <div class="container">
            <div class="breadcrumbs">
                <a href="/home">Home</a>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    
                    <div class="card profile-margin-top-mobile">
                <div class="card-header clearfix">
                    <h2 class="pull-left profile-header">Perfil</h2>
                    
                        <a href="#" class="pull-right">Editar</a>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Nombre De Usuario</dt>
                        <dd><%= user.username  %> </dd>
                    </dl>
                    <dl>
                        <dt>Fecha de Creacion:</dt>
                        <% let inputDate = user.createdAt.toString().split('T')[0];  %>
                        <dd><%= inputDate  %></dd>
                    </dl>
                    
                    <dl>
                        <dt>Email</dt>
                        <dd><%= user.email  %></dd>
                    </dl>
            
                </div>
            </div>
            
                    
                        
                        <div class="card">
                <div class="card-header clearfix">
                    <h2 class="pull-left">Contraseña</h2>
                    <a href="#" class="pull-right" aria-label="Cambiar Contraseña">Editar</a>
                </div>
                <div class="card-body">
                    <dl>
                        <dt class="dashboard-info">Contraseña</dt>
                        <dd>********</dd>
                    </dl>
                </div>
            </div>
            
                    
            
                </div>
                <div class="col-sm-6">
                    
                    
                    
                    <div class="card payment-card">
                <div class="card-header clearfix">
                    <h2 class="pull-left">Métodos de Pago</h2>
                    
                </div>
                
                    <a href="#" class="add-new-card-btn">+Nueva Tarjeta</a>
                
                
            </div>
                    
                    <div class="card">
                <div class="card-header clearfix">
                    <h2 class="pull-left">Direcciones</h2>
                    
                </div>
                
                    <a href="#" class="add-new-address-profile-btn">+ Nueva Dirección</a>
    
            </div>
            
            
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </main>


    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>


</body>
</html>




